@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IM Fell DW Pica';
    src: url('../fonts/IMFellDWPica-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM Fell DW Pica';
    src: url('../fonts/IMFellDWPica-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@theme {
    --color-darkYellow: #E58D37;
    --color-lightYellow: #FFB26A;
    --color-lightGrey: #CCCCCC;

    --font-sans: "Montserrat", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-imfell: "IM Fell DW Pica", serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "IM Fell DW Pica", serif;
}
